
body {
    margin: 0;
    padding: 0;
}

html{
    overflow: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

::-webkit-scrollbar{
    display: none;
}

.sidenav{
    position: fixed;
    top:0;
    left:0;
    width:15%;
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    background-color: rgba(255,255,255,0.95);
    transition: 0.5s;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.05);
    border: 1px solid rgba(0,0,0,0.3)
}